<!DOCTYPE html>
<html>
<head>
    <title>Prediccion</title>
    <link rel="stylesheet" href="../static/styles/form-style.css">
    
    <link rel="icon" type="image/png" href="../static/ico.png">
</head>
<body>

    <div class="contenedor">
       
        <div class="Formulario">
     
            {% include 'formulario.html' %}

        </div>
         
     
        <div class="Contenido">
            {% include 'contenido.html' %}
            
        </div>
          
     
      

    </div>



    <script src="../static/script/script-form.js"></script>
        
</body>
</html>